{% extends 'base.html.twig' %}

{% block title %}My Account!{% endblock %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden d-flex flex-column hide-scrollbar">
		<div class="mt-4">
			<div class="d-flex align-items-center small py-2">
			    <div class="flex-grow-1">
					<span class="ps-0 mb-2 fs-1 fw-bold">Account</span>
			    </div>
			</div>
		</div>
		<div class="row g-2">
			<div class="col-md-6 mx-auto py-2">
				<div class="text-center mb-2">
					<div class="bg-primary bg-opacity-25 border border-primary  rounded d-flex mx-auto my-2" style="height: 80px; width: 80px;">
	                    <i class="bi bi-person-circle rounded-circle align-self-center mx-auto text-primary" style="font-size:48px;"></i>
	                </div>
					<p class="mb-0"><b class="text-uppercase">Profile</b></p>
					<p class="small"><span class="text-secondary">This is your profile page</span></p>
				</div>

				<div class="list-group mb-2">
					<a href="#" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-gear-wide-connected fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Settings</b>
						        <p class="small text-secondary mb-0">Lorem Ipsum</p>
						    </div>
						    <div class="flex-shrink-0">
						        <i class="bi bi-chevron-right text-secondary"></i>
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<a href="#" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-question-circle fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Frequently Asked Questions</b>
						        <p class="small text-secondary mb-0">Lorem Ipsum</p>
						    </div>
						    <div class="flex-shrink-0">
						        <i class="bi bi-chevron-right text-secondary"></i>
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<a href="#" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-file-text fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Terms and Conditions</b>
						        <p class="small text-secondary mb-0">Lorem Ipsum</p>
						    </div>
						    <div class="flex-shrink-0">
						        <i class="bi bi-chevron-right text-secondary"></i>
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<a href="#" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-file-earmark-lock fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Privacy Policy</b>
						        <p class="small text-secondary mb-0">Lorem Ipsum</p>
						    </div>
						    <div class="flex-shrink-0">
						        <i class="bi bi-chevron-right text-secondary"></i>
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<a href="#" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-life-preserver fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Support</b>
						        <p class="small text-secondary mb-0">Lorem Ipsum</p>
						    </div>
						    <div class="flex-shrink-0">
						        <i class="bi bi-chevron-right text-secondary"></i>
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<a href="#" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-front fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Dark Mode</b>
						        <p class="small text-secondary mb-0">Lorem Ipsum</p>
						    </div>
						    <div class="flex-shrink-0 form-check form-select-lg form-switch p-0 align-self-center d-flex">
						        <input class="form-check-input align-self-center p-0 m-0" type="checkbox" id="darkModeSwitch2" checked="">
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<a href="#" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-power fs-3 text-danger"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Log out</b>
						        <p class="small text-secondary mb-0">Lorem Ipsum</p>
						    </div>
						</div>
					</a>
				</div>
			</div>
		</div>


        <div class="py-5">
            <span>&nbsp;</span>
        </div>
	</div>
{% endblock %}
