{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">

    <div class="mt-4">
        <div class="d-flex align-items-center small py-2">
            <div class="flex-grow-1">
                <span class="ps-0 mb-2 fs-1 fw-bold">Events</span>
            </div>
        </div>
    </div>


    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">Featured Events</span>
            <div class="small">
                <span class="text-secondary small mb-0">Events recommened by us</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 275px; height: 168;">
                <div class="d-flex">
                    <div class="position-absolute top-0 start-0 mt-3 ms-3">
                        <div class="d-flex flex-column align-items-center justify-content-center rounded bg-primary text-primary lh-1 small bg-opacity-25 "
                            style="height: 36px; width: 36px;">
                            <div class="small"><span class="small text-uppercase">Oct</span></div>
                            <div class="fs-5">15</div>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 end-0 mb-5 me-4">
                        <div class="mb-1"><i class="bi bi-patch-check-fill text-primary ms-1 fs-5"></i></div>
                    </div>

                    <div class="position-absolute bottom-0 start-0 mb-5 ms-3">
                        <span
                            class="badge align-self-center text-primary bg-primary small mb-2 bg-opacity-25 ">Conference</span>
                    </div>
                    <img src="/assets-custom/event.png" class="img-fluid mb-2 rounded">
                </div>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                        <b class="mb-1">Meridian 2024</b>
                        <div class="small text-secondary">
                            <span class="small">London, United Kingdom</span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 me-2 d-flex">
                        <span class="text-dark d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Add to calendar"><i
                                class="bi bi-calendar-plus-fill align-self-center"></i></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 275px; height: 168;">
                <div class="d-flex">
                    <div class="position-absolute top-0 start-0 mt-3 ms-3">
                        <div class="d-flex flex-column align-items-center justify-content-center rounded bg-primary text-primary lh-1 small bg-opacity-25 "
                            style="height: 36px; width: 36px;">
                            <div class="small"><span class="small text-uppercase">Oct</span></div>
                            <div class="fs-5">15</div>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 end-0 mb-5 me-4">
                        <div class="mb-1"><i class="bi bi-patch-check-fill text-primary ms-1 fs-5"></i></div>
                    </div>

                    <div class="position-absolute bottom-0 start-0 mb-5 ms-3">
                        <span
                            class="badge align-self-center text-primary bg-primary small mb-2 bg-opacity-25 ">Conference</span>
                    </div>
                    <img src="/assets-custom/event.png" class="img-fluid mb-2 rounded">
                </div>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                        <b class="mb-1">Meridian 2024</b>
                        <div class="small text-secondary">
                            <span class="small">London, United Kingdom</span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 me-2 d-flex">
                        <span class="text-dark d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Add to calendar"><i
                                class="bi bi-calendar-plus-fill align-self-center"></i></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 275px; height: 168;">
                <div class="d-flex">
                    <div class="position-absolute top-0 start-0 mt-3 ms-3">
                        <div class="d-flex flex-column align-items-center justify-content-center rounded bg-primary text-primary lh-1 small bg-opacity-25 "
                            style="height: 36px; width: 36px;">
                            <div class="small"><span class="small text-uppercase">Oct</span></div>
                            <div class="fs-5">15</div>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 end-0 mb-5 me-4">
                        <div class="mb-1"><i class="bi bi-patch-check-fill text-primary ms-1 fs-5"></i></div>
                    </div>

                    <div class="position-absolute bottom-0 start-0 mb-5 ms-3">
                        <span
                            class="badge align-self-center text-primary bg-primary small mb-2 bg-opacity-25 ">Conference</span>
                    </div>
                    <img src="/assets-custom/event.png" class="img-fluid mb-2 rounded">
                </div>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                        <b class="mb-1">Meridian 2024</b>
                        <div class="small text-secondary">
                            <span class="small">London, United Kingdom</span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 me-2 d-flex">
                        <span class="text-dark d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Add to calendar"><i
                                class="bi bi-calendar-plus-fill align-self-center"></i></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 275px; height: 168;">
                <div class="d-flex">
                    <div class="position-absolute top-0 start-0 mt-3 ms-3">
                        <div class="d-flex flex-column align-items-center justify-content-center rounded bg-primary text-primary lh-1 small bg-opacity-25 "
                            style="height: 36px; width: 36px;">
                            <div class="small"><span class="small text-uppercase">Oct</span></div>
                            <div class="fs-5">15</div>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 end-0 mb-5 me-4">
                        <div class="mb-1"><i class="bi bi-patch-check-fill text-primary ms-1 fs-5"></i></div>
                    </div>

                    <div class="position-absolute bottom-0 start-0 mb-5 ms-3">
                        <span
                            class="badge align-self-center text-primary bg-primary small mb-2 bg-opacity-25 ">Conference</span>
                    </div>
                    <img src="/assets-custom/event.png" class="img-fluid mb-2 rounded">
                </div>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                        <b class="mb-1">Meridian 2024</b>
                        <div class="small text-secondary">
                            <span class="small">London, United Kingdom</span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 me-2 d-flex">
                        <span class="text-dark d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Add to calendar"><i
                                class="bi bi-calendar-plus-fill align-self-center"></i></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 275px; height: 168;">
                <div class="d-flex">
                    <div class="position-absolute top-0 start-0 mt-3 ms-3">
                        <div class="d-flex flex-column align-items-center justify-content-center rounded bg-primary text-primary lh-1 small bg-opacity-25 "
                            style="height: 36px; width: 36px;">
                            <div class="small"><span class="small text-uppercase">Oct</span></div>
                            <div class="fs-5">15</div>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 end-0 mb-5 me-4">
                        <div class="mb-1"><i class="bi bi-patch-check-fill text-primary ms-1 fs-5"></i></div>
                    </div>

                    <div class="position-absolute bottom-0 start-0 mb-5 ms-3">
                        <span
                            class="badge align-self-center text-primary bg-primary small mb-2 bg-opacity-25 ">Conference</span>
                    </div>
                    <img src="/assets-custom/event.png" class="img-fluid mb-2 rounded">
                </div>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                        <b class="mb-1">Meridian 2024</b>
                        <div class="small text-secondary">
                            <span class="small">London, United Kingdom</span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 me-2 d-flex">
                        <span class="text-dark d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Add to calendar"><i
                                class="bi bi-calendar-plus-fill align-self-center"></i></span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">Future Events</span>
            <div class="small">
                <span class="text-secondary small mb-0">Whats important things are coming soon</span>
            </div>
        </div>
        <div class="flex-shrink-0">
            <a href="/events" class="text-decoration-none small">See All</a>
        </div>
    </div>

    <div class="list-group mb-2">
        <a class="list-group-item list-group-item-action d-flex align-items-center p-2" href="#">
            <div class="flex-shrink-0 text-decoration-none" href="#">
                <div class="d-flex flex-column align-items-center justify-content-center rounded bg-primary bg-opacity-10 text-primary lh-1"
                    style="height: 36px; width: 36px;">
                    <div class="fs-6 fw-bold">15</div>
                    <div class="small"><span class="small">Oct</span></div>
                </div>
            </div>
            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                <b class="mb-1">Meridian 2024</b>
                <div class="small text-secondary">
                    <span class="small">London, United Kingdom</span>
                </div>
            </div>
            <div class="flex-shrink-0 me-2 d-flex">
                <span class="text-dark d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Add to calendar"><i class="bi bi-calendar-plus-fill align-self-center"></i></span>
            </div>
        </a>
    </div>
    <div class="list-group mb-2">
        <a class="list-group-item list-group-item-action d-flex align-items-center p-2" href="#">
            <div class="flex-shrink-0 text-decoration-none" href="#">
                <div class="d-flex flex-column align-items-center justify-content-center rounded bg-primary bg-opacity-10 text-primary lh-1"
                    style="height: 36px; width: 36px;">
                    <div class="fs-6 fw-bold">15</div>
                    <div class="small"><span class="small">Oct</span></div>
                </div>
            </div>
            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                <b class="mb-1">Meridian 2024</b>
                <div class="small text-secondary">
                    <span class="small">London, United Kingdom</span>
                </div>
            </div>
            <div class="flex-shrink-0 me-2 d-flex">
                <span class="text-dark d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Add to calendar"><i class="bi bi-calendar-plus-fill align-self-center"></i></span>
            </div>
        </a>
    </div>
    <div class="list-group mb-2">
        <a class="list-group-item list-group-item-action d-flex align-items-center p-2" href="#">
            <div class="flex-shrink-0 text-decoration-none" href="#">
                <div class="d-flex flex-column align-items-center justify-content-center rounded bg-primary bg-opacity-10 text-primary lh-1"
                    style="height: 36px; width: 36px;">
                    <div class="fs-6 fw-bold">15</div>
                    <div class="small"><span class="small">Oct</span></div>
                </div>
            </div>
            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                <b class="mb-1">Meridian 2024</b>
                <div class="small text-secondary">
                    <span class="small">London, United Kingdom</span>
                </div>
            </div>
            <div class="flex-shrink-0 me-2 d-flex">
                <span class="text-dark d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Add to calendar"><i class="bi bi-calendar-plus-fill align-self-center"></i></span>
            </div>
        </a>
    </div>
    <div class="list-group mb-2">
        <a class="list-group-item list-group-item-action d-flex align-items-center p-2" href="#">
            <div class="flex-shrink-0 text-decoration-none" href="#">
                <div class="d-flex flex-column align-items-center justify-content-center rounded bg-primary bg-opacity-10 text-primary lh-1"
                    style="height: 36px; width: 36px;">
                    <div class="fs-6 fw-bold">15</div>
                    <div class="small"><span class="small">Oct</span></div>
                </div>
            </div>
            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                <b class="mb-1">Meridian 2024</b>
                <div class="small text-secondary">
                    <span class="small">London, United Kingdom</span>
                </div>
            </div>
            <div class="flex-shrink-0 me-2 d-flex">
                <span class="text-dark d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Add to calendar"><i class="bi bi-calendar-plus-fill align-self-center"></i></span>
            </div>
        </a>
    </div>
    <div class="list-group mb-2">
        <a class="list-group-item list-group-item-action d-flex align-items-center p-2" href="#">
            <div class="flex-shrink-0 text-decoration-none" href="#">
                <div class="d-flex flex-column align-items-center justify-content-center rounded bg-primary bg-opacity-10 text-primary lh-1"
                    style="height: 36px; width: 36px;">
                    <div class="fs-6 fw-bold">15</div>
                    <div class="small"><span class="small">Oct</span></div>
                </div>
            </div>
            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                <b class="mb-1">Meridian 2024</b>
                <div class="small text-secondary">
                    <span class="small">London, United Kingdom</span>
                </div>
            </div>
            <div class="flex-shrink-0 me-2 d-flex">
                <span class="text-dark d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Add to calendar"><i class="bi bi-calendar-plus-fill align-self-center"></i></span>
            </div>
        </a>
    </div>

    <div class="py-4">
        <span>&nbsp;</span>
    </div>

    <div class="mt-0 d-block d-sm-none">
        <span>&nbsp;</span>
    </div>
</div>

{% endblock %}
