{% extends 'base.html.twig' %}

{% block title %}Community Fund{% endblock %}

{% block body %}
<div class="mt-4">
    <div class="d-flex align-items-center small py-2">
        <div class="flex-grow-1">
            <span class="ps-0 mb-2 fs-1 fw-bold">Stellar Community Fund (SCF)</span>
        </div>
    </div>
</div>
{% endblock %}
