{% extends 'base.html.twig' %}

{% block title %}Hello StatisticsController!{% endblock %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">

    <div class="mt-4">
        <div class="d-flex align-items-center small py-2">
            <div class="flex-grow-1">
                <span class="ps-0 mb-2 fs-1 fw-bold">Statistics</span>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">Price Charts</span>
            <div class="small">
                <span class="text-secondary small mb-0">Currency Statistics</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Market Price</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Market Capitalization</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Circulating Supply</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Payments Volume</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Trades Volume</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Transactions Volume</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">CEX Trade Volume</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">Blockchan Charts</span>
            <div class="small">
                <span class="text-secondary small mb-0">All you need to know about ledgers</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Blockchain Size</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Average Ledger Size</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Ledgers Per Day</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Transactions Per Ledger</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Operations Per Ledger</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Number of Transactions</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Number of Operations</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Average Ledger Time</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Contract Invocations</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Created Contracts</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">Network Activity</span>
            <div class="small">
                <span class="text-secondary small mb-0">All you need to know about stellar</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Total Assets</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Active Addresses </b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Inactive Addresses</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">TOP 100 Active Addresses</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Succesful Transactions</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Failed Transactions</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Transactions Per Second</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Output Value Per Day</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Transactions Value</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">Stellar Community Fund</span>
            <div class="small">
                <span class="text-secondary small mb-0">Stellar Community Fund</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Total Submissions</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Activation Award Count</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Community Award Count</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Total Awarded</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Activation Awarded</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Community Awarded</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Voters</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">StellarChain</span>
            <div class="small">
                <span class="text-secondary small mb-0">Application Stats</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Users</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Communitites</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Posts</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Likes</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Jobs</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Projects</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Visitors</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Pageviews</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/javascript">

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        const ctx = document.getElementById('chart');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: 'Profit',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1,
                    backgroundColor: [
                        'rgba(13, 110, 253, 0.2)'
                    ],
                    borderColor: '#0d6efd',
                    fill: true
                }]
            },
            options: {

                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: '#6c757d'
                        }
                    },
                    x: {
                        ticks: {
                            color: '#6c757d'
                        }
                    }
                }
            }
        });

        document.addEventListener('DOMContentLoaded', (event) => {
            const htmlElement = document.documentElement;
            const switchElement = document.getElementById('darkModeSwitch');

            // Set the default theme to dark if no setting is found in local storage
            const currentTheme = localStorage.getItem('bsTheme') || 'dark';
            htmlElement.setAttribute('data-bs-theme', currentTheme);
            switchElement.checked = currentTheme === 'dark';

            switchElement.addEventListener('change', function () {
                if (this.checked) {
                    htmlElement.setAttribute('data-bs-theme', 'dark');
                    localStorage.setItem('bsTheme', 'dark');
                } else {
                    htmlElement.setAttribute('data-bs-theme', 'light');
                    localStorage.setItem('bsTheme', 'light');
                }
            });
        });
        document.addEventListener('DOMContentLoaded', (event) => {
            const htmlElement = document.documentElement;
            const switchElement = document.getElementById('darkModeSwitch2');

            // Set the default theme to dark if no setting is found in local storage
            const currentTheme = localStorage.getItem('bsTheme') || 'dark';
            htmlElement.setAttribute('data-bs-theme', currentTheme);
            switchElement.checked = currentTheme === 'dark';

            switchElement.addEventListener('change', function () {
                if (this.checked) {
                    htmlElement.setAttribute('data-bs-theme', 'dark');
                    localStorage.setItem('bsTheme', 'dark');
                } else {
                    htmlElement.setAttribute('data-bs-theme', 'light');
                    localStorage.setItem('bsTheme', 'light');
                }
            });
        });
    </script>
    <div class="mb-5 pb-3">
        &nbsp;
    </div>
</div>
{% endblock %}
