{% extends 'base.html.twig' %}

{% block title %}Stat{% endblock %}

{% set content_title = (stat ~ '.title') | trans %}

{% block body %}
<div class="overflow-y-scroll overflow-x-hidden hide-scrollbar" {{ stimulus_controller('statistics', { 'stat' :
    app.request.attributes.get('stat'), 'chart' : app.request.attributes.get('chart') }) }}>
    {% include 'content-header.html.twig' with {'right_block': false , 'center_title': true} %}
    <div class="card border-0">
        <div class="d-flex justify-content-between flex-md-row">
            <div class="bg-black p-2 rounded m-2 fw-bold fs-4">
                {{(stat ~ '.title') | trans }} <span id="chart-stat-value"></span>
            </div>
            <div class="p-2 m-2">
                <div class="d-flex gap-1 small timeframes">
                    <span
                        data-action="click->statistics#setTimeFrame"
                        class="d-flex justify-content-center align-items-center rounded small hover mb-0 bg-primary">10m</span>
                    <!-- <span -->
                    <!--     data-action="click->statistics#setTimeFrame" -->
                    <!--     class="d-flex justify-content-center align-items-center bg-black rounded small hover mb-0">1h</span> -->
                    <span
                        data-action="click->statistics#setTimeFrame"
                        class="d-flex justify-content-center align-items-center rounded small hover mb-0 bg-black">1d</span>
                    <!-- <span -->
                    <!--     data-action="click->statistics#setTimeFrame" -->
                    <!--     class="d-flex justify-content-center align-items-center bg-black rounded small hover mb-0">1w</span> -->
                </div>
            </div>
        </div>
        <div id="stat-chart" class="m-2" style="height:450px"></div>
        <div class="fs-4 p-2">{{(stat ~ '.desc') | trans}}</div>
        <div class="spinner-border ml-auto absolute position-absolute top-50 start-50 d-none" style="z-index: 1;"
            id="loading-statistics" role="status" aria-hidden="true"></div>
    </div>
    <div class="py-4">
        <span>&nbsp;</span>
    </div>

    <div class="mt-0 d-block d-sm-none">
        <span>&nbsp;</span>
    </div>
</div>
{% endblock %}
