{% extends 'base.html.twig' %}

{% block title %}Communities{% endblock %}

{% block body %}
<div class="row g-2">
    <div class="col-lg-8 col-xl-9 col-12">
        <div class="mt-4">
            <div class="d-flex align-items-center small py-2">
                <div class="flex-grow-1">
                    <span class="ps-0 mb-2 fs-1 fw-bold">Communities</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-2">
    <div class="col-lg-8 col-xl-9 col-12 vh-100 overflow-y-scroll overflow-x-hidden d-flex flex-column hide-scrollbar">
        {{ component('communities-component') }}
        <div class="py-5 mb-4">
            <span>&nbsp;</span>
        </div>
        <div class="mt-5 d-block d-sm-none">
            <span>&nbsp;</span>
        </div>
    </div>
    <div class="col-lg-4 col-xl-3 d-none d-lg-block vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">
        {{include('community/right.html.twig')}}
    </div>
</div>
<div class="mb-5 pb-2">
    &nbsp;
</div>
{% endblock %}
