{% extends 'base.html.twig' %}

{% block title %}{{community.name}}{% endblock %}

{% set content_title = community.name%}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">
    {% include 'content-header.html.twig' with {'right_block': false , 'center_title': true} %}
    <div class="row">
        <div class="col-sm-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    {{community.description | raw}}
                </div>
            </div>
        </div>
    </div>

    <div class="py-4">
        <span>&nbsp;</span>
    </div>

    <div class="mt-0 d-block d-sm-none">
        <span>&nbsp;</span>
    </div>
</div>

{% endblock %}
