
.sm-chart {
    height: 36px !important;
    margin: 0px auto;
    width: 80px;
}

@media only screen and (max-width: 767px) {
    .sm-chart {
        height: 20px !important;
    }
}

canvas{position:relative; z-index:999;}
 .chartjs-tooltip {
    position: absolute;
    z-index: 9999; /* High value to ensure it appears on top */
}
.ts-dropdown, .ts-control, .ts-control input {
    color: #FFF !important;
}

:root {
    --bs-list-group-action-hover-color: #0d6efd;
}

canvas#race{position:relative; z-index:1;}

.post-rank {
    display: block; /* Ensure the rank is block level */
}

.like-heart {
    display: none; /* Hide heart icon by default */
}

.rounded-circle:hover .like-heart {
    display: inline-block; /* Show heart icon on hover */
}

.rounded-circle:hover .post-rank {
    display: none; /* Hide rank on hover */
}

.comment-card {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1e1e1e;
}

/* Comment Header */
.comment-header {
    margin-bottom: 5px;
    font-size: 14px;
    color: #bbb;
}

.comment-header a {
    text-decoration: none;
    color: #bb86fc;
    margin-right: 5px;
}

/* Comment Content */
.comment-content {
    margin-bottom: 10px;
    word-wrap: break-word;
}

/* Reply Form */
.reply-form {
    margin-top: 10px;
}

/* Replies */
.replies {
    margin-top: 10px;
    padding-left: 15px; /* Indent replies */
}

/* Buttons */
.btn-link {
    color: #bb86fc;
    padding: 0;
    border: none;
}

.btn-link:hover {
    color: #ffffff;
}

.btn-link:focus {
    box-shadow: none;
}

.reply-button {
    margin-right: 10px;
}

.show-password-input {
    top: 20px !important;
}

.ellipsed-content {
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsed-content * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsed-content p {
    margin-bottom: 0px;
}

.project-img {
    height: 165px;
    width: 100%
}

.rank-col {
    width: 4%;
}

.market-col{
    width: 10%;

}
.price-col {
    width: 10%;
}

.h1-col {
    width: 10%;
}

.d7-col {
    width: 10%;
}

.h24-col {

    width: 10%;
}

.vol-col {
    width: 16%;
}

.circulating-col {
    width: 20%;
}

.chart-col {
    width: 10%;
}

/* Mobile view (up to 576px) */
@media (max-width: 990px) {
    .market-col,
    .price-col,
    .h1-col,
    .d7-col,
    .h24-col,
    .chart-col {
        width: 29%;
    }
}
/* Mobile view (up to 576px) */
@media (max-width: 990px) {
    .rank-col {
        width: 13%;
    }
}
