{% extends 'base.html.twig' %}

{% block title %}Ledgers{% endblock %}

{% set content_title = 'Stellar Explorer' %}


{% block body %}
<div class="row g-2">
    <div class="col-12">
        {% include 'content-header.html.twig' with {'right_block': true} %}
    </div>
</div>

{{ include('explorer/search.html.twig') }}

<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="col-md-12 col-lg-12">
            <div class="d-flex flex-column justify-content-between flex-md-row mb-3">
                <div class="truncate-text ">
                   <span class="text-success">
                        <i class="bi bi-check-circle fs-4"></i>
                    </span>
                    <span class="text-primary fs-4">{{hash}}</span>
                </div>
                <span class="small text-secondary">Created 11/11/2024 11:20</span>
            </div>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex flex-column flex-sm-row justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Account</h6>
                        <small class="text-body-secondary">Account address who initiated transaction</small>
                    </div>
                    <span class="text-body-secondary truncate-text">
                        GDUY7J7A33TQWOSOQGDO776GGLM3UQERL4J3SPT56F6YS4ID7MLDERI4
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Type Operations</h6>
                        <small class="text-body-secondary">Brief description</small>
                    </div>
                    <span class="text-body-secondary">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Third item</h6>
                        <small class="text-body-secondary">Brief description</small>
                    </div>
                    <span class="text-body-secondary">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                    <div class="text-success">
                        <h6 class="my-0">Status</h6>
                        <small>Transaction successful</small>
                    </div>
                    <span class="text-success">Success</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
