<div class="mt-4 {% if center_title is defined and center_title %} text-center {% endif %} ">
    <div class="d-flex align-items-center small py-2">
        <div class="flex-grow-1">
            <span class="ps-0 mb-2 fs-1 fw-bold">{{ content_title }}</span>
        </div>
        {% if right_block is defined and right_block  %}
        <div class="flex-shrink-0 text-end">
            <b>{{ 'now' | date("l")}}</b>
            <p>
                <a href="/statistics/price_charts/price_usd" class="small text-secondary mb-0 text-decoration-none">${{globalValues.price}} &middot;{{ 'now' | date("jS F")}} </a>
            </p>
        </div>
        {% endif %}
    </div>
</div>
