<div class="card border-0 shadow-sm mb-2">
	<div class="card-header d-flex align-items-center bg-white py-3  border-0">
        <a class="flex-shrink-0" href="/users/stellar">
            <div class="initial-avatar" style="height: 36px; width: 36px; font-size: 14px;">
            	<img src="https://pbs.twimg.com/profile_images/1701613652091322368/fmpFRHHQ_400x400.jpg" class="rounded-circle" style="height: 36px; width: 36px; font-size: 14px;">
        	</div>
        </a>
        <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
            <a class="text-decoration-none text-dark fw-bold mb-1" href="/users/stellar">Stellar <i class="bi bi-patch-check-fill text-warning ms-1"></i></a>
            <div class="small">
            	<a class="text-decoration-none text-muted small mb-0" href="/users/stellar">@stellar</a>
            	&middot;
            	<a class="text-decoration-none text-muted small mb-0" href="/posts/234234234">2 minutes ago</a>
            </div>
        </div>
        <a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-three-dots align-self-center"></i><span class="small align-self-center"></span></a>
	</div>
	<div class="card-body border-0 py-2">
		<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="card-footer d-flex justify-content-between bg-white  border-0">
    	<div class="d-flex">
    		<a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-eye align-self-center"></i><span class="small align-self-center ms-1">233</span></a>
    		<a href="#" class="text-secondary text-decoration-none d-flex ms-2 px-2 rounded hover"><i class="bi bi-chat align-self-center"></i><span class="small align-self-center ms-1">233</span></a>
    		<a href="#" class="text-secondary text-decoration-none d-flex ms-2 px-2 rounded hover"><i class="bi bi-heart align-self-center"></i><span class="small align-self-center ms-1">233</span></a>
    	</div>
    	<div class="d-flex">
    		<a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-bookmark align-self-center"></i><span class="small align-self-center"></span></a>
    		<a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-share align-self-center"></i><span class="small align-self-center"></span></a>
    	</div>
	</div>
</div>

<div class="card border-0 shadow-sm mb-2">
	<div class="card-header d-flex align-items-center bg-white py-3  border-0">
        <a class="flex-shrink-0 text-decoration-none" href="/projects/stellarchain">
			<div class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary" style="height: 36px; width: 36px;">
              	<span class="rounded-circle align-self-center mx-auto fs-5 fw-bold">SC</span>
            </div>
        </a>
        <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
            <a class="text-decoration-none text-dark fw-bold mb-1" href="/projects/stellarchain">StellarChain <i class="bi bi-patch-check-fill text-primary ms-1"></i></a>
            <div class="small">
            	<a class="text-decoration-none text-muted small mb-0" href="/projects/stellarchain">@stellarchain</a>
            	&middot;
            	<a class="text-decoration-none text-muted small mb-0" href="/posts/234234234">2 minutes ago</a>
            </div>
        </div>
        <a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-three-dots align-self-center"></i><span class="small align-self-center"></span></a>
	</div>
	<img src="/assets/img/sample.png" class="card-img-top" alt="...">
	<div class="card-body border-0 py-2">
		<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="card-footer d-flex justify-content-between bg-white  border-0">
    	<div class="d-flex">
    		<a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-eye align-self-center"></i><span class="small align-self-center ms-1">233</span></a>
    		<a href="#" class="text-secondary text-decoration-none d-flex ms-2 px-2 rounded hover"><i class="bi bi-chat align-self-center"></i><span class="small align-self-center ms-1">233</span></a>
    		<a href="#" class="text-secondary text-decoration-none d-flex ms-2 px-2 rounded hover"><i class="bi bi-heart align-self-center"></i><span class="small align-self-center ms-1">233</span></a>
    	</div>
    	<div class="d-flex">
    		<a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-bookmark align-self-center"></i><span class="small align-self-center"></span></a>
    		<a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-share align-self-center"></i><span class="small align-self-center"></span></a>
    	</div>
	</div>
</div>
