.bg-black {
  background-color: #000000 !important;
}

[data-bs-theme=dark]{
  --bs-black: #000;
  --bs-white: #fff;
  --bs-dark: #1C1C1E;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;

  --bs-body-bg: var(--bs-black) !important;
  --bs-body-color: var(--bs-white) !important;

  .list-group-item {
    background-color: var(--bs-dark) !important;
    border-color: var(--bs-dark) !important;
  }

  .btn-dark {
    background-color: var(--bs-dark) !important;
    color: var(--bs-secondary) !important;
  }

  .btn-check:checked + .btn-dark {
      color: var(--bs-primary) !important;
  }
  .btn-group {
    border-color: var(--bs-dark) !important;
  }

  .menu {
    background-color: var(--bs-dark) !important;
    border-color: var(--bs-dark) !important;
  }
  .tabs {
    color: var(--bs-secondary) !important;
  }

  .tabs.active {
    background-color: var(--bs-dark) !important;
    color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
  }

  .card, .card-body, .card-header, .card-footer {
    background-color: var(--bs-dark) !important;
    border-color: var(--bs-dark) !important;
  }
  .bg-light {
    background-color: var(--bs-black) !important;
  }

  .hover:hover {
    background-color: rgba(13, 110, 253, 0.1)!important;
  }

  .text-dark {
    color: var(--bs-white) !important;
  }

  .bg-white {
      background-color: var(--bs-dark) !important;
    border-color: var(--bs-dark) !important;
  }

  .border-light {
    border-color: var(--bs-black) !important;
  }

}

[data-bs-theme=light] {
  --bs-black: #000;
  --bs-white: #fff;
  --bs-light: #f8f9fa;
  --bs-primary: #0d6efd;
  --bs-secondary: #1C1C1E;

  --bs-body-bg: var(--bs-light) !important;
  --bs-body-color: var(--bs-black) !important;

  .list-group-item {
    background-color: var(--bs-white) !important;
  }

  .btn-dark {
    background-color: var(--bs-white) !important;
    color: var(--bs-black) !important;
  }

  .btn-check:checked + .btn-dark {
      color: var(--bs-primary) !important;
  }

  .menu {
    background-color: var(--bs-white) !important;
  }
  .tabs {
    color: var(--bs-secondary) !important;
  }

  .tabs.active {
    background-color: var(--bs-light) !important;
    color: var(--bs-primary) !important;
  }

  .card, .card-body, .card-header, .card-footer {
    background-color: var(--bs-white) !important;
  }
/*  .text-white {
    color: var(--bs-black) !important;
  }*/
/* Hover States */
  .hover:hover {
    background-color: rgba(223, 225, 229, 0.5)!important;
  }

  .bg-black {
    background-color: var(--bs-light) !important;
  }

}

.hide-scrollbar::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}
