<div{{ attributes.defaults(stimulus_controller('statistics')) }}>
    <div class="card">
        <div class="d-flex justify-content-between flex-column flex-md-row">
            <div class="bg-black p-2 rounded m-2 fw-bold fs-4">
                {{this.chartName}}: <span id="chart-stat-value"></span>
            </div>
            <div class="p-2 m-2">
                <div class="d-flex gap-1 justify-content-end">
                    <button class="btn btn-light btn-sm active">10M</button>
                    <button class="btn btn-light btn-sm">1D</button>
                    <button class="btn btn-light btn-sm">1W</button>
                </div>
            </div>
        </div>
        <div class="">
          {{ render_chart(this.chart, {'class': 'statistics'}) }}
          <div class="spinner-border ml-auto absolute position-absolute top-50 start-50 d-none" id="loading-chart" role="status" aria-hidden="true"></div>
        </div>
        <span class="m-1 small text-secondary text-center"> {{page * 200}} records</span>
    </div>
</div>
