<div{{ attributes }}>
    <div class="container my-5">
        <div class="mb-4" id="post-form-content">
            {% block comment_form_block %}
            {% include 'blocks/comment_form_block.html.twig' with { 'form': comment_form } %}
            {% endblock %}
        </div>

        <div id="comments-list" {{ turbo_stream_listen('comments-list-' ~ post.id) }}>
            {% set prev_comment_id = null %}
            {% for index, comment_data in comments %}
            {% set next_comment_id = (index + 1 < comments|length) ? comments[index + 1].comment.id : null %} {% set
                root_comment=comment_data.comment.parent is null ? comment_data : root_comment ?? comment_data %} {{
                comment_template.render_comment(comment_data, root_comment, prev_comment_id, next_comment_id) }} {% set
                prev_comment_id=comment_data.comment.id %} {% endfor %}
        </div>
    </div>
</div>
