{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook {% endblock %}

{% block body %}


<!-- Header -->
<div class="bg-white border-bottom sticky-top p-3 pt-md-3 px-lg-5 w-100">
    <div class="div">
        <span class="d-block d-lg-none fw-bold">Welcome to Stellar Community Fund</span>
        <span class="d-none d-lg-block fs-5 fw-bold">Welcome to Stellar Community Fund</span>
    </div>

    <!-- Navigation -->
    <nav class="nav mt-3 mt-lg-2 flex-nowrap overflow-auto">
      <a href="#" class="nav-link tab-link active ps-0 text-nowrap pt-0 pb-1">For you</a>
      <a href="#" class="nav-link tab-link text-nowrap text-muted pt-0 pb-1">Following</a>
    </nav>
</div>

<div class="container-fluid container-xl px-3 px-lg-5 py-2">
    <div class="row g-2">
        <div class="col-md-9">
            {{include("post.html.twig")}}
        </div>
        <div class="col-md-3">
            <div class="card border-0 shadow-sm mb-2">
                <div class="card-header px-0 border-0  bg-white">
                    <div class="d-flex align-items-center bg-white border-0 px-3 py-2">
                        <div class="flex-grow-1 d-flex flex-column lh-1">
                            <a class="text-decoration-none text-dark fw-bold mb-1" href="#">Interesting Projects</a>
                            <div class="small">
                                <span class="text-muted small mb-0">Based on community likes this week</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 border-0">
                    <ul class="nav flex-column">
                        <li class="nav-item px-3 d-flex align-items-center bg-white border-0 mb-3">
                            <a class="flex-shrink-0 text-decoration-none" href="/projects/stellarchain">
                                <div class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary" style="height: 36px; width: 36px;">
                                    <span class="rounded-circle align-self-center mx-auto fs-5 fw-bold">SC</span>
                                </div>
                            </a>
                            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
                                <a class="text-decoration-none text-dark fw-bold mb-1" href="/projects/stellarchain">StellarChain <i class="bi bi-patch-check-fill text-primary ms-1"></i></a>
                                <div class="small">
                                    <a class="text-decoration-none text-muted small mb-0" href="/projects/stellarchain">@stellarchain</a>
                                </div>
                            </div>
                            <a class="badge bg-primary bg-opacity-25 text-primary text-decoration-none" href="#">Follow</a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center bg-white border-0 mb-3">
                            <a class="flex-shrink-0 text-decoration-none" href="/projects/skylo">
                                <div class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary" style="height: 36px; width: 36px;">
                                    <span class="rounded-circle align-self-center mx-auto fs-5 fw-bold">GL</span>
                                </div>
                            </a>
                            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
                                <a class="text-decoration-none text-dark fw-bold mb-1" href="/projects/skylo">Skylo</a>
                                <div class="small">
                                    <a class="text-decoration-none text-muted small mb-0" href="/projects/skylo">@skylo</a>
                                </div>
                            </div>
                            <a class="badge bg-primary bg-opacity-25 text-primary text-decoration-none" href="#">Follow</a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center bg-white border-0 mb-3">
                            <a class="flex-shrink-0 text-decoration-none" href="/projects/ctx">
                                <div class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary" style="height: 36px; width: 36px;">
                                    <span class="rounded-circle align-self-center mx-auto fs-5 fw-bold">CT</span>
                                </div>
                            </a>
                            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
                                <a class="text-decoration-none text-dark fw-bold mb-1" href="/projects/ctx">CTX</a>
                                <div class="small">
                                    <a class="text-decoration-none text-muted small mb-0" href="/projects/ctx">@ctx</a>
                                </div>
                            </div>
                            <a class="badge bg-primary bg-opacity-25 text-primary text-decoration-none" href="#">Follow</a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center bg-white border-0 mb-3">
                            <a class="flex-shrink-0 text-decoration-none" href="/projects/btq">
                                <div class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary" style="height: 36px; width: 36px;">
                                    <span class="rounded-circle align-self-center mx-auto fs-5 fw-bold">BT</span>
                                </div>
                            </a>
                            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
                                <a class="text-decoration-none text-dark fw-bold mb-1" href="/projects/btq">BTQ</a>
                                <div class="small">
                                    <a class="text-decoration-none text-muted small mb-0" href="/projects/btq">@btq</a>
                                </div>
                            </div>
                            <a class="badge bg-primary bg-opacity-25 text-primary text-decoration-none" href="#">Follow</a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center bg-white border-0 mb-3">
                            <a class="flex-shrink-0 text-decoration-none" href="/projects/gladius">
                                <div class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary" style="height: 36px; width: 36px;">
                                    <span class="rounded-circle align-self-center mx-auto fs-5 fw-bold">EM</span>
                                </div>
                            </a>
                            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
                                <a class="text-decoration-none text-dark fw-bold mb-1" href="/projects/gladius">Emigro</a>
                                <div class="small">
                                    <a class="text-decoration-none text-muted small mb-0" href="/projects/gladius">@emigro</a>
                                </div>
                            </div>
                            <a class="badge bg-primary bg-opacity-25 text-primary text-decoration-none" href="#">Follow</a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="card border-0 shadow-sm mb-2">
                <div class="card-header px-0 border-0  bg-white">
                    <div class="d-flex align-items-center bg-white border-0 px-3 py-2">
                        <div class="flex-grow-1 d-flex flex-column lh-1">
                            <a class="text-decoration-none text-dark fw-bold mb-1" href="#">Users to follow</a>
                            <div class="small">
                                <span class="text-muted small mb-0">Based on your likes</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 border-0">
                    <ul class="nav flex-column">
                        <li class="nav-item px-3 d-flex align-items-center bg-white border-0 mb-3">
                            <a class="flex-shrink-0" href="/users/stellar">
                                <div class="initial-avatar" style="height: 36px; width: 36px; font-size: 14px;">
                                    <img src="https://pbs.twimg.com/profile_images/1701613652091322368/fmpFRHHQ_400x400.jpg" class="rounded-circle" style="height: 36px; width: 36px; font-size: 14px;">
                                </div>
                            </a>
                            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
                                <a class="text-decoration-none text-dark fw-bold mb-1" href="/users/stellar">Stellar <i class="bi bi-patch-check-fill text-warning ms-1"></i></a>
                                <div class="small">
                                    <a class="text-decoration-none text-muted small mb-0" href="/users/stellar">@stellar</a>
                                </div>
                            </div>
                            <a class="badge bg-primary bg-opacity-25 text-primary text-decoration-none" href="#">Follow</a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center bg-white border-0 mb-3">
                            <a class="flex-shrink-0" href="/users/anke">
                                <div class="initial-avatar" style="height: 36px; width: 36px; font-size: 14px;">
                                    <img src="/assets/img/icon.svg" class="rounded-circle" style="height: 36px; width: 36px; font-size: 14px;">
                                </div>
                            </a>
                            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
                                <a class="text-decoration-none text-dark fw-bold mb-1" href="/users/anke">Anke Liu <i class="bi bi-patch-check-fill text-warning ms-1"></i></a>
                                <div class="small">
                                    <a class="text-decoration-none text-muted small mb-0" href="/users/anke">@anke</a>
                                </div>
                            </div>
                            <a class="badge bg-primary bg-opacity-25 text-primary text-decoration-none" href="#">Follow</a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center bg-white border-0 mb-3">
                            <a class="flex-shrink-0" href="/users/gd2000">
                                <div class="initial-avatar" style="height: 36px; width: 36px; font-size: 14px;">
                                    <img src="/assets/img/icon.svg" class="rounded-circle" style="height: 36px; width: 36px; font-size: 14px;">
                                </div>
                            </a>
                            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
                                <a class="text-decoration-none text-dark fw-bold mb-1" href="/users/gd2000">Gemma <i class="bi bi-patch-check-fill text-warning ms-1"></i></a>
                                <div class="small">
                                    <a class="text-decoration-none text-muted small mb-0" href="/users/gd2000">@gd2000</a>
                                </div>
                            </div>
                            <a class="badge bg-primary bg-opacity-25 text-primary text-decoration-none" href="#">Follow</a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center bg-white border-0 mb-3">
                            <a class="flex-shrink-0" href="/users/florincm">
                                <div class="initial-avatar" style="height: 36px; width: 36px; font-size: 14px;">
                                    <img src="https://rthq.fra1.digitaloceanspaces.com/profile_pictures/1_6564cec3c6cf4.png" class="rounded-circle" style="height: 36px; width: 36px; font-size: 14px;">
                                </div>
                            </a>
                            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
                                <a class="text-decoration-none text-dark fw-bold mb-1" href="/users/florincm">Florin Mangu <i class="bi bi-patch-check-fill text-primary ms-1"></i></a>
                                <div class="small">
                                    <a class="text-decoration-none text-muted small mb-0" href="/users/florincm">@florincm</a>
                                </div>
                            </div>
                            <a class="badge bg-primary bg-opacity-25 text-primary text-decoration-none" href="#">Follow</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="card border-0 shadow-sm mb-2">
                <div class="card-header px-0 border-0  bg-white">
                    <div class="d-flex align-items-center bg-white border-0 px-3 py-2">
                        <div class="flex-grow-1 d-flex flex-column lh-1">
                            <a class="text-decoration-none text-dark fw-bold mb-1" href="#">Popular Tags</a>
                            <div class="small">
                                <span class="text-muted small mb-0">Updates every hour</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 border-0">
                    <ul class="nav flex-column">
                        <li class="nav-item px-0">
                            <a href="#" class="nav-link list-group-item-action hover rounded-1 d-flex align-items-center px-3">
                                <div class="d-flex align-items-center border-0">
                                    <div class="flex-grow-1 d-flex flex-column lh-1">
                                        <span class="text-dark fw-bold mb-1" href="#">#stellar</span>
                                        <div class="small">
                                            <span class="text-muted small mb-0">23 posts</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item px-0">
                            <a href="#" class="nav-link list-group-item-action hover rounded-1 d-flex align-items-center px-3">
                                <div class="d-flex align-items-center border-0">
                                    <div class="flex-grow-1 d-flex flex-column lh-1">
                                        <span class="text-dark fw-bold mb-1" href="#">#stellarchain</span>
                                        <div class="small">
                                            <span class="text-muted small mb-0">12 posts</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item px-0">
                            <a href="#" class="nav-link list-group-item-action hover rounded-1 d-flex align-items-center px-3">
                                <div class="d-flex align-items-center border-0">
                                    <div class="flex-grow-1 d-flex flex-column lh-1">
                                        <span class="text-dark fw-bold mb-1" href="#">#soroban</span>
                                        <div class="small">
                                            <span class="text-muted small mb-0">3 posts</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item px-0">
                            <a href="#" class="nav-link list-group-item-action hover rounded-1 d-flex align-items-center px-3">
                                <div class="d-flex align-items-center border-0">
                                    <div class="flex-grow-1 d-flex flex-column lh-1">
                                        <span class="text-dark fw-bold mb-1" href="#">#scf</span>
                                        <div class="small">
                                            <span class="text-muted small mb-0">3 posts</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
