{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<!-- Header -->
<div class="bg-white border-bottom sticky-top p-3 pt-md-3 px-lg-5 w-100">
    <div class="div">
        <span class="d-block d-lg-none fw-bold">Welcome to Stellar Community Fund</span>
        <span class="d-none d-lg-block fs-5 fw-bold">Welcome to Stellar Community Fund</span>
    </div>

    <!-- Navigation -->
    <nav class="nav mt-3 mt-lg-2 flex-nowrap overflow-auto">
      <a href="#" class="nav-link tab-link active ps-0 text-nowrap pt-0 pb-1">For you</a>
      <a href="#" class="nav-link tab-link text-nowrap text-muted pt-0 pb-1">Following</a>
    </nav>
</div>

<div class="container-fluid container-xl px-3 px-lg-5 py-2">
    <div class="row g-2">
        <div class="col-md-9">
            {% for project in projects %}
                {{include("project/project.html.twig", {project})}}
            {% endfor %}
        </div>
        <div class="col-md-3">
            {{include('right-sidebar.html.twig')}}
        </div>
    </div>

</div>
{% endblock %}
