{% extends 'base.html.twig' %}

{% block title %}Projects List{% endblock %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">

    {% include 'project/header-projects.html.twig' %}

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">All Projects</span>
        </div>
        <div class="flex-shrink-0">
            <a href="/projects/list" class="text-decoration-none small">See All</a>
        </div>
    </div>

    {{component('projects-component')}}
    <div class="py-4">
        <span>&nbsp;</span>
    </div>

    <div class="mt-0 d-block d-sm-none">
        <span>&nbsp;</span>
    </div>
</div>
{% endblock %}
